.users {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 570px;
}

.div {
  display: flex;
  align-items: center;
  border: 1px solid #d5c8c8;
  display: flex;
  padding: 0 10px;
}

.loginColum {
  display: flex;
  align-items: center;
  border: 1px solid #000;

  padding: 0 10px;
  width: 172px;
}

.registeredAtColum {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 0 10px;
  width: 213px;
}

.roleColum {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 0 10px;
  width: auto;
}

.orderDiv {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 10px 10px 100px;
  width: auto;
}

.roleSelect {
  font-size: 16px;
  padding: 0 5px;
}

.userRow {
  display: flex;
  margin-top: 10px;
}

.order {
  align-items: center;
  border: 1px solid #000;
  padding: 0 10px;
  width: 172px;
}

.ul {
  border: 1px solid #501818;
}
